.NET Core

bin/ obj/ *.csproj.user *.pdb *.exe *.dll *.suo *.cache *.user *.userosscache *.sln.docstates

Visual Studio Code

.vscode/ !.vscode/launch.json !.vscode/tasks.json

Dependency directories

packages/ nuget/

Runtime files

*.log *.bak *.tmp *.temp

macOS

.DS_Store

Linux

*~

SQLite database (if used)

*.db